@charset "UTF-8";
body {
  font-family: Lato;
}

#show-menu {
  float: right;
  height: 80px;
  width: 80px;
  border-radius: 120px;
  background-color:#E20177;
  z-index:9999;
  -webkit-box-shadow: -3px -16px 48px -15px rgba(0,0,0,0.42);
  -moz-box-shadow: -3px -16px 48px -15px rgba(0,0,0,0.42);
  box-shadow: -3px -16px 48px -15px rgba(0,0,0,0.42);
  margin-top: 50px;
}

.start-menu {
  display:block;
  width: 21px;
  height: 10px;
  position: absolute;
  margin-left: 0px;
  will-change: transform;
}

.chevron{
display:block;
margin-left: 25px;
margin-top: 30px;
width: 30px;
height: 20px;
background-repeat:no-repeat;
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAASCAYAAAE79V5PAAAABGdBTUEAALGPC/xhBQAAAdBJREFUSA2llTtLA0EQx42CbyEWamNSCVainYWVxF7FRhD8AFbBwsoPYBcUKz+Ahdhai9gIWonYCDYqgigYEF+YxN9cdo69vb1cQhaGmfk/Zo7ccuno8J1a/XzFOPCFGBgAxlLTpuyXgUaUtsol6E8MlrV1MmEoAmgDkTWOa8WCDLhqiILJn0qcGaBXHaavdQJcZurnW0lptfZm3Hkz4dkr8IEYpnStk+98+gBDWHLEeRWD3ztc/bEBly2iqgZfRrdtaSs+TYghHAybVgqMH2ZL9DWnDcH0YIya+tM8AY/6UR1Onmg4APGPZShTr1i9lIuxAYAZR3SrIvBJh9tRTq653mbVHIekKSAGlDT5NKBoqhax5Rrt3tJJuaQDpCnYwqQanfwWpSQ+Fcc8Q8g9eCXGUw3tClgySshTu0euRl+782N+huaIG3ebp78AG4kNaBVgyDzx7lkg0B9RSeBewGdb3SfXdZOwb509/4lmWodSzxFvtsCq5cE2VOvNCHqII8vklucAw14zINwYceWarP6Qujv006S9vz008p/R1EHbRRwQSUfuSi4YRlF0VPIdWmtqUwMRM9aJX2d2MWKBlO/XLhG+v4igjUZmEvtE+Mv9A1JJWhptGVPRAAAAAElFTkSuQmCC');
transform: rotate(90deg);
}

.transition {
  transition: -webkit-transform 0.35s cubic-bezier(0.24, 1, 0.32, 1),
    visibility 0s;
  transition: transform 0.35s cubic-bezier(0.24, 1, 0.32, 1), visibility 0s;
}

.transition.chevron {
  transition: 0.35s;
}

.toggle > .chevron {
  transform: rotate(270deg);
}

.toggle.transition > .chevron {
  transition: 0.35s;
}

.toggle,
.toggle-slider {
  transform: translateX(30vw) translateX(-34px);
}

#menu-wrapper {
  display: block;
  width: 30vw;
  top: 0;
  background-color: #e20177;
  left: calc(-30vw + 34px);
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  height: 100%;
  z-index: 999;
  position: fixed;
}

#swipe-cmpnt {
  margin-left: 20px;
  height: 100%;
  position: relative;
}

#swipe-cmpnt p {
  color: #fff;
  margin-top: 25px;
  font-size: 12px;
  font-family: arial;
  text-transform: uppercase;
  text-align: center;
}

#swipe-cmpnt ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#swipe-cmpnt ul li {
  display: block;
  width: 90%;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px 10px;
}

#swipe-cmpnt ul li:last-child {
  border: 1px solid hsla(360, 100%, 100%, .8);
  border-radius: 4px;
  margin: 0 auto;
  width: 80%;
  background: hsla(360, 100%, 100%, .3);
}

#swipe-cmpnt ul li a {
  color:#ffffff;
  text-decoration: none;
}

#swipe-cmpnt ul li a span.far{
  margin-right: 10px;
}

#swipe-cmpnt ul li a span{
  text-transform: uppercase;
}

.hide {
  display: none;
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 601fpx) and (max-width: 960px) {
  #menu-wrapper {
    left: calc(-35vw + 34px);
    width: 35vw;
  }

  .toggle, .toggle-slider {
    transform: translateX(35vw) translateX(-34px);
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 600px) {
  #show-menu {
    float: right;
    height: 80px;
    width: 80px;
    border-radius: 120px;
    background-color:#E20177;
    z-index:9999;
    -webkit-box-shadow: -3px -16px 48px -15px rgba(0,0,0,0.42);
    -moz-box-shadow: -3px -16px 48px -15px rgba(0,0,0,0.42);
    box-shadow: -3px -16px 48px -15px rgba(0,0,0,0.42);
    margin-top: 0px;
  }

  .start-menu {
    display:block;
    width: 21px;
    height: 10px;
    position: absolute;
    bottom: 30px;
    margin-left: 230px;
    will-change: transform;
  }

  .chevron {
    transform: rotate(0deg);
  }

  .toggle {
    transform: translateY(-50vh);
  }

  .toggle-slider {
    transform: translateY(-50vh) translateY(-60px);
  }

  .toggle > .chevron {
    transform: rotate(180deg);
  }

  #menu-wrapper {
    top: auto;
    left: 0;
    bottom: -80%;
    margin: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    height: 80%;
    width: 100%;
  }
}
